@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

.about {
  padding: 30px;
}

.about h1 {
  font-family: Bodoni Moda, serif;
}

.about p {
  font-family: Quicksand, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
