@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

.contactInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.contactInfo h1 {
  font-family: Bodoni Moda, serif;
}

.form {
  font-family: Quicksand, sans-serif;
  font-weight: lighter;
  font-size: larger;
}

.form input {
  display: block;
  margin: 20px;
  padding: 10px;
  padding-right: 40vw;
}

#messageBox {
  padding-bottom: 100px;
}

.form button {
  padding: 0px 10px;
  background-color: #A2A7A5;
  color: white;
  border-radius: 5px;
  border-color: #A2A7A5;
}