@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

.header {
    background: #F6F6F6;
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.header h1 {
    margin: 0;
    padding: 50px 0px 0px 0px;
    color: black;
    font-family: Bodoni Moda, serif;
    font-size: 75px;
}

.header img {
    padding: 5px 0px 0px 5px;
    max-height: 200px;
    max-width: 200px;
}